*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: monospace;
    color: #0F0E0E;
    font-weight: 500;
    background-color: #fff;
}
a {
    color: inherit;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.section__img {
    text-align: center;
    margin-bottom: 70px;
}

.header {
    padding: 20px 0 10px;
    position: fixed;
    width: 100%;
    background-color: #111;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav__menu {
    display: flex;
    transition: all .4s;
}
.header-nav__menu-item:first-child {
    margin-left: 0;
}
.header-nav__menu-item {
    color: #fff;
    margin-left: 60px;
}
.header-nav__menu-link {
    text-decoration: none;
    font-size: 18px;
}
.header-nav__burger {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 30;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #2a2a2a;
    display: none;
}
.header-nav__burger:hover .header-nav__burger-lines {
    filter: brightness(.7);
}
.header-nav__burger_active .header-nav__burger-lines {
    background: transparent;
    transition: all .4s ease-in;
}
.header-nav__burger_active .header-nav__burger-lines::before {
    top: 0;
    transform: rotate(-45deg);
}
.header-nav__burger_active .header-nav__burger-lines::after {
    top: 0;
    transform: rotate(45deg);
}
.header-nav__burger-lines,
.header-nav__burger-lines::before,
.header-nav__burger-lines::after {
    position: absolute;
    width: 40px;
    height: 6px;
    background-color: #fff;
}
.header-nav__burger-lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-nav__burger-lines::before {
    content: '';
    top: -12px;
}
.header-nav__burger-lines::after {
    content: '';
    top: 12px;
}
.header-nav__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.header-nav__burger_active .header-nav__overlay {
    display: block;
}
.intro {
    background-color: #fff;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro__title {
    width: 40ch;
    font-family: monospace;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid orange;
    padding-right: 5px;
    animation: flashing-border .75s step-end infinite,
               printed-text 3s steps(40);
}

@keyframes flashing-border {
    0% {
        border-color: orange;
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: orange;
    }
}
@keyframes printed-text {
    from {
        width: 0;
    }
}

.about {
    padding-bottom: 100px;
}
.about__wrapper {
    display: flex;
    justify-content: space-between;
}
.about-box {
    max-width: 500px;
    margin-right: 40px;
}
.about-box__title {
    font-size: 40px;
    margin-bottom: 30px;
}
.about-box__descr {
    font-size: 24px;
    margin-bottom: 20px;
}
.about-inform {
    text-align: center;
}
.about-inform__button {
    color: #0F0E0E;
    background-color: orange;
    padding: 15px 45px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 30px;
    transition: all .4s;
}
.about-inform__button:hover {
    background-color: #0F0E0E;
    color: orange;
}
.about-inform__img {
    width: 60%;
}

.inform {
    padding-bottom: 100px;
}
.inform__title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}
.inform-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}
.inform-items__item {
    max-width: 400px;
    background-color: #0F0E0E;
    color: #fff;
    padding: 15px;
}
.inform-items__item-index {
    font-size: 20px;
    margin-bottom: 10px;
}
.inform-items__item-title {
    font-size: 30px;
    margin-bottom: 20px;
}
.inform-items__item-descr {
    font-size: 20px;
    line-height: 25px;
}

.programm { 
    padding-bottom: 100px;
}
.programm__title {
    font-size: 30px;
    margin-bottom: 30px;
}
.programm__wrapper {
    display: flex;
    align-items: baseline;
    margin-bottom: 50px;
}
.programm-lists {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin-right: 30px;
}
.programm-list {
    background-color: #0F0E0E;
    color: #fff;
    padding: 15px;
}
.programm-list__item {
    font-size: 20px;
    margin-bottom: 15px;
}
.programm-figure {
    font-size: 90px;
    color: grey;
}
.programm-info {
    color: grey;
}
.programm-info__title {
    font-size: 25px;
    margin-bottom: 10px;
}
.programm-info__descr {
    font-size: 18px;
}
.programm__button {
    color: #0F0E0E;
    background-color: orange;
    padding: 15px 45px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 30px;
    transition: all .4s;
}
.programm__button:hover {
    background-color: #0F0E0E;
    color: orange;
}

.wallet {
    padding-bottom: 100px;
}
.wallet__wrapper {
    display: flex;
    justify-content: space-between;
}
.wallet-box {
    max-width: 500px;
    margin-right: 40px;
}
.wallet-box__title {
    font-size: 40px;
    margin-bottom: 30px;
}
.wallet-box__descr {
    font-size: 24px;
    margin-bottom: 20px;
}
.wallet-inform {
    text-align: center;
}
.wallet-inform__button {
    color: #0F0E0E;
    background-color: orange;
    padding: 15px 45px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 30px;
    transition: all .4s;
}
.wallet-inform__button:hover {
    background-color: #0F0E0E;
    color: orange;
}
.wallet-inform__img {
    width: 60%;
}