*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: monospace;
    color: #0F0E0E;
    font-weight: 500;
    background-color: #fff;
    height: 300vh;
}
a {
    color: inherit;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    padding: 20px 0 10px;
    position: fixed;
    width: 100%;
    background-color: #111;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav__menu {
    display: flex;
}
.header-nav__menu-item:first-child {
    margin-left: 0;
}
.header-nav__menu-item {
    color: #fff;
    margin-left: 60px;
}
.header-nav__menu-link {
    text-decoration: none;
    font-size: 18px;
}
.intro {
    background-color: #fff;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro__title {
    width: 40ch;
    font-family: monospace;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid orange;
    padding-right: 5px;
    animation: flashing-border .75s step-end infinite,
               printed-text 3s steps(40);
}

@keyframes flashing-border {
    0% {
        border-color: orange;
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: orange;
    }
}
@keyframes printed-text {
    from {
        width: 0;
    }
}

.about {
    padding-bottom: 100px;
}
.about__wrapper {
    display: flex;
    justify-content: space-between;
}
.about-box {
    max-width: 500px;
    margin-right: 40px;
}
.about-box__title {
    font-size: 40px;
    margin-bottom: 30px;
}
.about-box__descr {
    font-size: 24px;
    margin-bottom: 20px;
}
.about-inform {
    text-align: center;
}
.about-inform__button {
    color: #0F0E0E;
    background-color: orange;
    padding: 15px 45px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 30px;
    transition: all .4s;
}
.about-inform__button:hover {
    background-color: #0F0E0E;
    color: orange;
}
.about-inform__img {
    width: 60%;
}

.inform__img {
    text-align: center;
    margin-bottom: 70px;
}
.inform__title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}
.inform-slider {
    width: 600px;
    height: 300px;
}
  